#sapli-button{
    z-index: 100;
    position: absolute;
    width: 20px;
    height: 20px;
}

.overlay{
    width: 200px;
    height: 125px;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 100000;
    margin: 20px;
    border-radius: 11px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sapli-container{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    width: 200px;
}

#input_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#phobias_select{
    height: 25px;
    font-size: large;
    border-radius: 8px;
    margin: 9px;
    width: 180px;
    border: none;
}

.time_input{
    font-size: 12px;
    margin: 0 4px;
    width: 65px;
    height: 29px;
    border-radius: 8px;
    border: none;
}

#submit{
    width: 75px;
    height: 25px;
    border-radius: 6px;
    margin-top: 2vh;
    font-size: small;
    background: #c73939;
    border: none;
    color: white;

}

svg{
    cursor: pointer;
}

#pin1:hover path,
#pin2:hover path{
    fill: #ec2525 !important;
}

#submit:hover{
    background: #ec2525;
}

#skip_button{
    z-index:100;
    position: absolute;
    height: 35px;
    width: 141px;
    background: #f0f8ff33;
    color: #ffffffb8;
    font-size: 16px;
    border: none;
    cursor: pointer;
    bottom: 10em;
    right: 50px;
}

#skip_button:hover{
    background: #ffffff44;
    color: white;
}
