#sapli-button{
    z-index: 100;
    position: absolute;
    width: 20px;
    height: 20px;
}

.overlay_sapli{
    width: 235px !important;
    height: 125px !important;
    background-color: #1e1e1eed !important;
    z-index: 100000;
    margin: 20px;
    border-radius: 11px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sapli-container{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    width: 200px;
}

#input_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#phobias_select{
    height: 25px;
    font-size:revert;
    border-radius: 8px;
    margin: 9px;
    width: 180px;
    border: none;
    color: #282727;
}

.time_input{
    font-size: 12px;
    margin: 0 4px;
    width: 81px;
    height: 29px;
    border-radius: 8px;
    border: none;
}

#submit{
    width: 75px;
    height: 25px;
    border-radius: 6px;
    margin-top: 2vh;
    font-size: small;
    background: #c73939;
    border: none;
    color: white;

}

svg{
    cursor: pointer;
}

#pin1:hover path,
#pin2:hover path{
    fill: #a4a4a4 !important;
}

#submit:hover{
    background: #ec2525;
}

#skip_button{
    z-index:100;
    position: absolute;
    height: 35px;
    width: 141px;
    background: #f0f8ff33;
    color: #ffffffb8;
    font-size: 16px;
    border: none;
    cursor: pointer;
    bottom: 10em;
    right: 88px;
}

#skip_button:hover{
    background: #ffffff44;
    color: white;
}

#thumb_up_div{
    z-index: 100;
    position: absolute;
    height: 35px;
    width: 35px;
    color: #ffffffb8;
    font-size: 16px;
    cursor: pointer;
    bottom: 10em;
    right: 49px;
    background: #f0f8ff33;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb_up_selected, .thumb_up_selected>svg>path{
    background: #31a7fb54 !important;
    fill: #278ed1 !important;
}

.thumb_up_selected:hover, .thumb_up_selected:hover>svg>path{ 
    background: rgb(0 167 247 / 55%) !important;
    fill: rgb(0 178 255) !important;
}

.thumb_down_selected, .thumb_down_selected>svg>path{
    background: #ff242438 !important;
    fill: #d1131f !important;
}

.thumb_down_selected:hover, .thumb_down_selected:hover>svg>path{
    background: rgb(255 36 36 / 55%) !important;
    fill: rgb(209 19 31) !important;
}

#thumb_down_div{
    z-index: 100;
    position: absolute;
    height: 35px;
    width: 35px;
    color: #ffffffb8;
    font-size: 16px;
    cursor: pointer;
    bottom: 10em;
    right: 11px;
    background: #f0f8ff33;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thumb_up_div:hover , #thumb_down_div:hover{
    background: #ffffff44;
    color: white;
}